* {
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
}
body {
	width: 90%;
	margin: 0 auto;
}
#content {
	overflow: auto;
}
#nav, #feature, #footer {
	margin: 1%;
}
.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;
}
li {
	display: inline;
	padding: 0.5em;
	color: white;
}
#nav, #footer {
	background-color: #9932CC;
	padding: 0.5em 0;
	color: white;
}
#feature, .article {
	height: 10em;
	margin-bottom: 1em;
	background-color: #efefef;
}
.column3 {
	margin-right: 0%;
	background-color: #cd5c5c;
}
.column2 {
	background-color: maroon;
}
.column1 {
	background-color: pink;
}
a {
	color: white;
}
#feature {
	background-color: #ADFF2F;
	background-image: url("feature-flowers.png");
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}
#header h1{
	font-family: 'DancingScriptRegular';
}
body {
	background-image: url("bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}